# gitignore

node_modules

# Only apps should have lockfiles
yarn.lock
package-lock.json
.yarn/*
!.yarn/plugins
!.yarn/releases
!.yarn/patches
yarn-error.log

.DS_Store
.history
.idea
.vscode
coverage
